{% extends 'base_auth.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="container">
    <div class="p-5 my-4   col-md-6 offset-md-3">
        <h1 class="fw-bold mb-3">Compte</h1>

        <p>Email : {{ app.user.email }}</p>
        <hr>
        <div class="row">
            <a href="{{ path('app_user_update_profile') }}" class="btn btn-outline-primary mb-3">
                <i class="bi bi-pencil me-2"></i>Modifier mes informations
            </a>
            <a href="{{ path('app_user_update_password') }}" class="btn btn-outline-primary mb-3">
                <i class="bi bi-key me-2"></i>Modifier mon mot de passe
            </a>
        </div>
        <div class="row">
            <a href="{{ path('app_user_delete_account') }}" class="btn btn-outline-danger mb-3">
                <i class="bi bi-trash me-2"></i>Supprimer mon compte
            </a>
        </div>
    </div>
</div>
{% endblock %}
