{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}


<div class="container">

    <div class="p-5 my-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Lancez le mouvement</h1>
        <p class="col-md-8 fs-4">Que ce soit dans votre immeuble, votre rue, votre quartier ou votre village, créez un cercle et invitez vos voisins à le rejoindre.</br>
        Renseignez les objets qui pourraient être utiles aux autres et cherchez ceux dont vous avez besoin dans votre cercle.</p>
        <button class="btn btn-primary btn-lg" type="button"><i class="bi bi-plus-circle me-1"></i>Créer un cercle</button>
      </div>
    </div>

    <div class="p-5 my-4 bg-body-tertiary rounded-3">
      <div class="container-fluid text-end py-5">
        <h1 class="display-5 fw-bold">Rejoindre un cercle</h1>
        <div class="row">
          <div class="col-md-4 text-center">
            <i class="bi bi-qr-code" style="font-size:4rem;"></i>
          </div>
          <div class="col-md-8">
            <p class="fs-4">Vous avez vu une affiche dans le hall de votre immeuble et vous souhaitez prendre part à une boîte à partage existante ?</p>
          </div>
        </div>
        <button class="btn btn-primary btn-lg" type="button"><i class="bi bi-person-fill-add me-1"></i>Rejoindre un cercle</button>
      </div>
    </div>
</div>
{% endblock %}
