{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}


<div class="container">

    <div class="p-5 my-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Lancez le mouvement</h1>
        <p class="col-md-8 fs-4">Que ce soit dans votre immeuble, votre entreprise, votre association ou votre quartier, créez une boîte à partage et invitez des personnes à la rejoindre.</br>
        Renseignez les objets qui pourraient être utiles aux autres et cherchez ceux dont vous avez besoin.</p>
        <a href="{{path('app_register', {'registrationPurpose': 'createCircle'})}}" class="btn btn-primary btn-lg" type="button"><i class="bi bi-plus-circle me-2"></i>Créer une boîte</a>
      </div>
    </div>

    <div class="p-5 my-4 bg-body-tertiary rounded-3">
      <div class="container-fluid text-end py-5">
        <div class="row">
          <div class="col-md-4 text-center">
            <i class="bi bi-qr-code" style="font-size:8rem;"></i>
          </div>
          <div class="col-md-8">
            <h1 class="display-5 fw-bold">Rejoindre une boîte</h1>
            <p class="fs-4">Vous avez vu une affiche dans le hall de votre immeuble ou dans votre entreprise et vous souhaitez ajouter vos objets dans une boîte à partage existante ?</p>
            <a href="{{path('app_register', {'registrationPurpose': 'joinCircle'})}}" class="btn btn-primary btn-lg" type="button"><i class="bi bi-person-fill-add me-2"></i>Rejoindre une boîte</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
