{% extends 'base.html.twig' %}

{% block title %}Inspirations{% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center py-5 fw-bold">Inspirations</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item py-4"><i class="bi bi-book me-2"></i>L'ouvrage de Timothée Parrique <a href="https://www.senscritique.com/livre/ralentir_ou_perir/51239734" target="_blank">Ralentir ou périr</a>, qui traite de la nécessité de la décroissance dans le monde actuel.</li>
        <li class="list-group-item py-4"><i class="bi bi-link-45deg me-2"></i>Les <a href="https://lesecolohumanistes.fr" target="_blank">écolosHumanistes</a> qui font la promotion <a href="https://lesecolohumanistes.fr/lecologie-au-quotidien/pret-entre-voisins/" target="_blank">du prêt entre voisins</a> (avec un kit comprenant un autocollant à mettre sur sa boîte aux lettres) et des <a href="https://lesecolohumanistes.fr/boite-a-partage/" target="_blank">boîtes à partage physiques</a>.</li>
    </ul>
</div>
{% endblock %}