{% extends 'base.html.twig' %}

{% block title %}Manifeste{% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center py-5 fw-bold">Manifeste</h1>
    <p class="fs-5">
        De tout temps nous avons partagé.
    </p>
    <p class="fs-5">

        Que ce soit nos ressources, nos outils, nos connaissances, nos savoir-faire, nos idées, l’homme a grandi grâce au partage tous azimuts.
        Partager était quelque chose d’intuitif, d'instinctif, de “normal”.
    </p>
    <p class="fs-5">
        Avec l'ère industrielle, la mondialisation et la montée du capitalisme, le partage a perdu en vivacité au profit de la possession individuelle des objets. La baisse du coût des biens et l’augmentation du pouvoir d’achat nous a poussé à en consommer toujours plus, plus rapidement, plus facilement.</br>
        Avec l’ère du numérique et l’uberisation de la société, cet élan s’est étendu aux services qui se sont eux aussi monétisés.
    </p>
    <p class="fs-5">
        Ce site a pour mission d'être le support qui redonnera un peu de vie au partage entre personnes proches physiquement, dans un cercle suffisamment restreint pour que la confiance s'installe et que les échanges s'intensifient.
    </p>
</div>
{% endblock %}