{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="p-5 my-4   col-md-4 offset-md-4">
        <h1 class="fw-bold mb-3">Réinitialisation du mot de passe</h1>
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
