<ul class="list-group list-group-flush my-2">
    {% for userCircle in userCircles %}  
        <div class="list-group-item  d-flex align-items-center" >
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{userCircle.circle.name}}
                {% if userCircle.circle.createdBy == app.user %}<span class="fw-light">(propriétaire)</span>{% endif %}
                 </div>
            </div>
            <div class="ms-2">
            {# data-bs-toggle="modal" #}
              <button 
                class="btn btn-sm btn-info btn-share-circle"  
                data-bs-target="#shareCircleModal" 
                data-circle-uri="{{url('app_circle_join_identified', {shortId : userCircle.circle.shortId})}}" 
                data-circle-name="{{userCircle.circle.name}}" 
              >
              <i class="bi bi-share-fill me-2"></i>Partager</button>
            </div>
        </div>
    {% else %}
      Vous n'avez pas encore rejoint de boîte à partage. Vous pouvez en créer une ou en rejoindre une.
    {% endfor %}
</ul>

<!-- Modal -->
<div class="modal fade" id="shareCircleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>