{% extends 'base_auth.html.twig' %}

{% block title %}Boîtes à partage{% endblock %}

{% block body %}
<div class="container">
  <div class="px-lg-5">
    <div class="container-fluid py-5">
      <div class="d-flex align-items-center justify-content-between">
          <h1 class="display-5 fw-bold">Vos boîtes</h1>
          <a class="btn btn-primary px-4"  href="{{path('app_circle_create')}}" role="button"><i class="bi bi-plus-circle me-2"></i>Créer une boîte</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 p-5 my-4 ">
      <div class=" p-5 ">
        <h1 class="fs-3 fw-bold mb-4">Boîtes à partage</h1>
        {{ include('app_circle/circle_list_component.html.twig') }}
      </div>
    </div>
  </div>
<p class="result"></p>
</div>
{% endblock %}
{% block javascripts %}
    {% block importmap %}
     {{ importmap(['app', 'shareCircle']) }}
    {% endblock %}
{% endblock %}