{% extends 'base_auth.html.twig' %}

{% block title %}Rejoindre une boîte{% endblock %}

{% block body %}
<div class="container">
    <div class="p-5 my-4 bg-body-tertiary rounded-3 col-md-6 offset-md-3">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="fw-bold mb-3">Rejoindre une boîte à partage</h1>
        {{ form_errors(form) }}
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
