{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}


<div class="container">
    <h1 class="text-center py-5 fw-bold">Manifeste</h1>
    <p class="fs-5">
        Le partage est un des fondements de la civilisation. De tout temps, nous avons partagé nos ressources, nos outils, nos connaissances, nos savoir-faire, nos idées, etc...</br>
        Jusqu'à l'ère du numérique, partager était quelque chose de normal, de logique, d'instinctif.</br>
        Avec le numérique et l'ère industrielle, le partage a perdu en vivacité au profit de la possession individuelle des objets et outils, et de la monétisation des services.</br>
        Ce site a pour mission de redonner vie au partage entre personnes proches physiquement, au travers de cercle suffisament restreint pour que la confiance s'installe et que les échanges s'intensifient.
    </p>
</div>
{% endblock %}