/* Override some Bootstrap variables */
$blue:    #52749c;
$red: #e86252;
 $green: #5fd9aa;
// $red: #ebb3a9;
// $cyan:    #ebb3a9;
@import '../../vendor/twbs/bootstrap/scss/bootstrap';

// $red: #FB4040;