<div class="container px-5">
	<a class="text-dark link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{path('app_auth_home')}}"><i class="bi bi-chevron-left me-2"></i>Retour à l'accueil</a>
</div>
