<div class="w-100 p-3 d-flex justify-content-center align-items-center mt-auto">
        <a class="text-end d-none" id="installApp"  href="#">Installer l'application</a>
        <a class="mx-3 text-dark" href="https://github.com/corentoulf/boiteapartage.org" target="_blank"><i class="bi bi-github" style="font-size: 2rem"></i></a>
        <span class="text-start">Créé par <a href="https://linkedin.com/in/corentinthiercelin" target="_blank">Corentin Thiercelin</a></span>
</div>