<nav class="navbar navbar-expand-lg py-2 py-lg-4 justify-content-center">
  <div class="container d-flex justify-content-between align-items-center px-5 py-3">
        <a class="navbar-brand d-flex align-items-center me-6" href="{{path('app_home')}}">
            <img src="{{asset('img/logo-bleu-petard.svg')}}" alt="La Boîte à Partage" width="50" height="50">
            <span class="navbar-brand fs-2 fw-bold ms-3">Boîte à Partage</span>
        </a>
        {% if app.user %}
            <a class="btn btn-primary" href="{{ path('app_auth_home') }}"><i class="bi bi-box-arrow-up-right me-1"></i>Aller sur l'App</a>
        {% else %}
            <a class="btn btn-outline-dark border-0" href="{{ path('app_login') }}"><i class="bi bi-person-circle me-1"></i>Connexion</a>
        {% endif %}
        
  </div>
</nav>