<nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
  <div class="container d-flex justify-content-between">
        <a class="navbar-brand fs-2 px-4 fw-bold" href="{{path('app_home')}}">La Boîte à Partage</a>
        <div class="px-4">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{{ path('app_manifeste') }}"><i class="bi bi-file-text me-1"></i>Manifeste</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#"><i class="bi bi-plus-circle me-1"></i>Créer un cercle</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#"><i class="bi bi-person-fill-add me-1"></i>Rejoindre un cercle</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if app.user %}
            <a class="btn btn-outline-primary  px-4" href="{{ path('app_auth_home') }}"><i class="bi bi-box-arrow-up-right me-1"></i>Aller sur l'App</a>

        {% else %}
            <a class="btn btn-outline-primary  px-4" href="{{ path('app_login') }}"><i class="bi bi-person-circle me-1"></i>Connexion</a>
        {% endif %}
        
  </div>
</nav>